*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: 'Sahel';
    src: url('../fonts/Sahel.woff');
}

body {
    color: #212121;
    font-family: 'Sahel';
  }

.nav{
    width: 100%;
    background-color: rgb(107, 58, 156);
    display: inline-block;
    direction: rtl;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    height: 100%;
}

.navbar > li > a{
    text-decoration: none;
    color: #fff;
    transition: all .5s;
    height: 100%;
}

.navbar > li > a:hover{
    color: rgb(216, 18, 18);
}

.title{
    text-align: center;
    margin: 20px;
    margin-top: 70px;
}

#available{
    position: absolute;
    left: 37%;
    padding-bottom: 20px;
}

#sort{
    position: absolute;
    left: 54.5%;
}

#search-products{
    margin: 5px;
    padding: 5px;
}

#searchbar{
    position: relative;
}

#searchbar{
    direction: ltr;
    display: inline-block;
    margin-top: 9px;
    margin-left: 5px;
    position: absolute;
    left: 30px;
    top: 12vh;
    direction: rtl;
}

.cart-container{
    margin-top: 80px;
}

#moment{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
}

#moment-farsi{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
}

button{
    cursor: pointer;
    border-radius: 3px;
    transition: all .7s;
}
button:hover{
    box-shadow: 0 2px 3px 3px rgba(61, 45, 45, 0.4);
}

.add-btn{
    padding: 10px;
    background-color: rgb(43, 226, 73);
    color: #fff;
    margin: 20px;
    border: none;
}

.remove{
    background-color: rgb(223, 36, 36);
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px;
}

#products{
    margin: 8px;
}

#add-product-form{
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

input{
    padding: 8px;
    margin: 5px;
}

.active{
    background-color: rgb(190, 31, 31);
  }

  #products{
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;
  }

  .newProduct{
      background-color: rgb(52, 45, 153);
      padding: 20px;
      margin: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row;
      width: 50%;
      border-radius: 5px;
      transition: all 0.7s;
  }

  .newProduct:hover{
    box-shadow: 0 5px 6px 7px rgba(0, 0, 0, 0.4);
    transform: translateY(10px);
  }

  .removeBtn{
    padding: 10px;
    background-color: rgb(190, 31, 31);
    color: #fff;
    margin: 20px;
    border: none;
    position: absolute;
  }

  .productsName{
      text-decoration: none;
      font-size: 20px;
      font-family: 'Sahel';
      color: #fff;
  }

